 nav{
  background: url('/bg.png') center;
  padding: 20px;
 } 
ul{
  display: flex;
  list-style: none;
  gap: 101px;
  justify-content: center;
}

a{
  background-color: #DCD6C9;
  border-radius: 20px;
  padding: 10px 10px;
  color: black;
  font-size: 40px;
  text-decoration: none;
}
