

.slider img{
  width: 242px;
  height: 363px;
}



.btn-slider{
  background-color: rgb(254, 254, 254);
  width: 347px;
  height: 53px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  margin: 10px;
}

.slider .prev,
.slider .next {
  background-color: none;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px;
}

.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
}

.slider .prev {
  position: relative;
  left: -20px;
}

.slider .next {
  position: relative;
  right: -20px;
}



// BriseSauvage =============
.slider-b{
  background-color: rgba(0, 0, 0, 0.46);
  width: 392px;
  height: auto;
  text-align: center;
  margin-top: 50px;
}

// Nocturne =============
.slider-n{
  background-color: rgba(255, 255, 255, 0.655);
  width: 392px;
  height: auto;
  text-align: center;
  margin-top: 50px;
}


// Responsive==================
@media (max-width: 768px) {
  .slider img {
    width: 100%;
    height: auto;
  }

  .btn-slider {
    width: 100%;
    font-size: 16px;
  }

  .slider-b, .slider-n {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
  }

  .slider .prev {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
  .slider .next{
    display: none;
  }
}