.BriseSauvage {
   background: url('/Brise-Sauvage/bg.png') center/cover no-repeat;
  padding: 45px;
}

.intro-sauvage {
  background-color: rgba(0, 0, 0, 0.534);
  width: 1318px;
  height: 100%;
  margin-left: 50px;
  padding: 5px;
  border-radius: 20px;
  color: white;
}



.slider-b h1,
.slider-b h2,
.slider-b h3 {
  color: white;
}