.BriseSauvage {
   background: url('/Brise-Sauvage/bg.png') center/cover no-repeat;
  padding: 45px;
}

.intro-sauvage {
  background-color: rgba(0, 0, 0, 0.534);
  width: 1318px;
  height: 100%;
  margin-left: 50px;
  padding: 5px;
  border-radius: 20px;
  color: white;
}



.slider-b h1,
.slider-b h2,
.slider-b h3 {
  color: white;
}



/* --- Base responsive --- */
.BriseSauvage {
  padding: 45px;
}

.content-slider {
  display: flex;
  gap: 101px;
  flex-wrap: wrap;
}

.slider-b {
  text-align: center;
}

/* --- Responsive Mobile --- */
@media (max-width: 768px) {
  .BriseSauvage {
    padding: 20px;
  }

  .intro-sauvage {
    width: 100%;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-size: 16px;
  }

}
