.Nocturne {
   background: url('/Nocturne/bg.png') center/cover no-repeat;
  padding: 45px;
}

.intro-nocturne {
  background-color: rgb(255, 255, 255);
  width: 1318px;
  height: 100%;
  margin-left: 50px;
  padding: 5px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}



.slider-b h1,
.slider-b h2,
.slider-b h3 {
  color: white;
}