.collection {
    background: url('/bg.png') center/cover no-repeat;
}

.section{
  background-color: rgba(0, 0, 0, 0.552);
  width: 392px;
  height: 566px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  img{
    width: 243px;
    height: 365px;
    
  }
}

.container{
  display: flex;
  padding: 24px;
  gap: 101px;
  justify-content: center;
  flex-wrap: wrap;
}