.collection {
    background: url('/bg.png') center/cover no-repeat;
}
// ==============Sections ↓=============
h1, h2, h3 { 
  margin: 1%;
}
.section{
  background-color: rgba(0, 0, 0, 0.552);
  width: 392px;
  height: 566px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  img{
    width: 243px;
    height: 365px;
    
  }
}

.container{
  display: flex;
  padding: 24px;
  gap: 101px;
  justify-content: center;
  flex-wrap: wrap;
}


// ===========Btn ↓=============
.btn {
  display: inline-block;
  text-decoration: none; 
  background-color: #d9d9d9; 
  color: black;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 357px;
  height: 35px;
  text-align: center;
  line-height: 35px; 
  font-size: 20px;
  cursor: pointer;
}



/* ========== ✅ Responsive Mobile ========== */
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      padding: 10px;
    }

    .section {
      width: 90%;
      height: auto;
      padding: 20px;

      img {
        width: 200px;
        height: auto;
      }

      h1 {
        font-size: 1.5rem;
      }

      h2, h3 {
        font-size: 1rem;
        text-align: center;
      }
    }

    .btn {
      width: 90%;
      height: auto;
      line-height: normal;
      padding: 10px 0;
      font-size: 1rem;
    }
  }
