.contact {
  background: url('/bg.png') center/cover no-repeat;
  padding: 45px;

  p {
    font-size: 30px;
    margin-top: 0%;
  }

  .s-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center; /* centrer les blocs sur mobile */
  }

  .container-contact {
    background-color: #DCD6C9;
    width: 466px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;

    .toform {
      display: flex;
      background-color: #6E8B6D;
      width: 278px;
      height: 40px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border-radius: 20px;
      font-size: 40px;
      text-decoration: none;
      color: black;
    }
  }

  .tel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    text-align: left;
  }

  .follow {
    margin: 50px auto 0 auto;
    background-color: #dcd6c9df;
    width: 15rem;
    border-radius: 20px;
    text-align: center;
    padding: 20px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0;
      list-style: none;
    }

    li {
      display: flex;
      align-items: center;
      gap: 10px;

      h1 {
        font-size: 1.5rem;
      }
    }

    .logo {
      width: 57px;
    }
  }
}
  /* ==================== Responsive ==================== */
  @media (max-width: 768px) {
  
    p {
      font-size: 20px;
    }

    .container-contact {
      width: 100%;
      padding: 20px;

      .toform {
        width: 100%;
        font-size: 24px;
        height: auto;
        padding: 10px;
      }
    }

    .tel {
      font-size: 20px;
      text-align: center;
    }

    .follow {
      width: 90%;
      margin: 40px auto 0 auto;

      ul {
        align-items: center;
      }

      li {
        flex-direction: row;
        justify-content: center;

        h1 {
          font-size: 1.2rem;
        }
      }

      .logo {
        width: 40px;
      }
    }
  }

