html{
  background: url('/bg.png') center/cover no-repeat;
}

// Setion mission ↓ =============

#select {
  background-color: rgba(0, 0, 0, 0.601);
  width: 1161px;
  height: 385px;
  border-radius: 20px;
  margin-left: 10rem;
  margin-top: 5rem;
  
  h1, p{
    color: white;
    font-size: 30px;
    text-align: center;
  }
  img {
    width: 333px;
    height: 333px;
   }
}

// Select mission =========================
.mission {
  display: flex;
  img {
    margin: 20px;
  }
  .container{
    margin-top: 4rem;
  
  }
}

// Select histoire =================================
.histoire {
  display: flex;
  img {
    margin: 20px;
  }
  .container{
    margin-top: 4rem;
  
  }
}
// Slogan ================
.slogan {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.601);
  border-radius: 20px;
  width: 800px;
  height: 40px;
  margin-left: 20rem;
  margin-bottom: 50px;
  margin-top: 50px;
}