.home {
  background: url('/bg.png') center/cover no-repeat;

  .mission,
  .histoire {
    display: flex;
    align-items: center; 

    .select {
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding: 2rem;
      max-width: 1200px; 
      margin: 0 auto; 
      gap: 2rem; 

      img {
        width: 333px;
        height: 333px;
        object-fit: cover; // pour éviter les images déformées
        border-radius: 10px;
      }

      .container {
        h1, p {
          color: white;
          text-align: left;
        }

        h1 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.1rem;
          line-height: 1.5;
        }
      }
    }
  }

  .slogan {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    max-width: 900px;
    margin: 50px auto;
    padding: 0.1rem 2rem;
    font-size: 1.5rem;
  }
}

  /* ======= Responsive Mobile ===== */
  @media screen and (max-width: 768px) {
    .mission,
    .histoire {
      .select {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
        width: 18rem;

        img {
          width: 250px;
          height: 250px;
        }

        .container {
          h1 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1rem;
            text-align: center;
          }
        }
      }
    }

    .slogan {
      font-size: 1.2rem;
      padding: 1rem;
      margin: 2rem auto;
    }
  }
